<hr/>
<h1>Gallery</h1>
<label><input name="password" [(ngModel)]="password"></label>
<button (click)="showForm = !showForm">Open form</button>

<form *ngIf="showForm" (submit)="onAddGallery($event)">
  <label><input name="imageTitle" [(ngModel)]="title"></label>
  <label><input name="imageUrl" [(ngModel)]="url"></label>
  <button (click)="showCard = !showCard" type="submit" [disabled]="formIsEmpty()">Add image</button>
</form>
<br/>
<div *ngIf="showCard">
  <app-gallery-card *ngFor="let key of pic" [title]="key.title" [url]="key.url"></app-gallery-card>
</div>


